* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  background: #aeecec;
  display: flex;
}

 
.sidebar {
  position:fixed;
  overflow: hidden;
  z-index:1000;
  width: 250px;
  background: #f7c7c7;
  padding: 20px;
  height: 100vh;
  box-shadow: 2px 0 10px rgba(0,0,0,0.05);
}
.profile {
  text-align: center;
  margin-bottom: 30px;
}
.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.profile h3 {
  font-size: 18px;
}
.profile p {
  font-size: 12px;
  color: rgb(96, 79, 79);
}
.menu {
  list-style: none;
  margin-top: 20px;
}
.menu li {
  padding: 12px 15px;
  margin: 5px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.menu li:hover, .menu li.active {
  background: #1c3cba;
  color: #fff;
}

 
.main {
  margin-left: 250px;
  left :250px;
  flex: 1;
  padding: 20px;
}
.topbar {
 margin-left: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-box {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 0;
}
.card {
  background: #ebe4e4;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
.card h2 {
  font-size: 28px;
  margin-bottom: 5px;
}
.card p {
  color: gray;
}
.rating {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 10px 0;
}
.rating {
  font-size: 14px;
  background: #d0cfc6;
  padding: 9px;
  border-radius: 15px;
  box-shadow: 0 9px 18px rgba(0,0,0,0.05);
}
 
.grid-2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
.sub-card {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

 
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
table th, table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
}

 
.calendar {
  text-align: center;
}
.calendar table {
  width: 100%;
}
.calendar td {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.calendar td.active {
  background: #4a6cf7;
  color: #fff;
}
.menu li a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}

 
.content-section {
  
  margin-top: 50px;  
  left:0px;
  margin-left: 0px;  
  padding: 20px;
}

 
.center-topbar {
  
  
 text-align: center;
  background-color: #f5f5f5;  
  padding: 12px 0;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-left: 5px;
  
}
 
.sub-card table td span {
  font-weight: 600;
}
.sub-card table td span[style*="orange"] {
  color: orange;
}
.topbar{
   text-align: center;
   font-size: 30px;
}

 
.appointment-content {
  
  max-width: 900px;    
  margin: 0 auto;      
}

 
html {
  scroll-behavior: smooth;
}

 
#appointment {
  scroll-margin-top: 80px;  
}
